@model List<BookShop.Models.CartItem>
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1> Sách trong giỏ hàng </h1>
    <div class="section group">
        @if (Model.Count > 0)
        {
            <table style="width:850px;" class="data-table">


                <tr>
                    <td class="header-table">Mã SP</td>
                    <td class="header-table">Hình ảnh</td>
                    <td class="header-table">Tên sách</td>
                    <td class="header-table">Giá</td>
                    <td class="header-table">Số lượng</td>
                    <td class="header-table">Thành tiền</td>
                    @*
                        <td class="header-table">Gỡ bỏ</td>*@
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="content-table">@item.Book.ID</td>
                        <td class="content-table"><a href="#"><img style="height:150px;" src="@item.Book.Images" alt="" /></a></td>
                        <td class="content-table">@item.Book.Name</td>
                        <td class="content-table"><span class="price">@item.Book.Price.GetValueOrDefault(0)</span></td>
                        <td class="content-table"><input type="text" class="txtquantity" data-id="@item.Book.ID" value="@item.Quantity" /></td>
                        <td class="content-table"><span class="price">@(item.Book.Price.GetValueOrDefault(0) * item.Quantity)</span></td>
                        <td> <a href="#" data-id="@item.Book.ID" class="btnDelete" style=" background: #1C8D96; font-size: large">Xóa</a></td>
                    </tr>
                    <tr></tr>
                }

            </table>
        }
    </div>
    <div class="section group">

            @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
            {
                <table style="width:850px;" class="data-table">
                    <tr>
                        <td></td>
                        <td>
                            <label>Người nhận: </label>
                        </td>
                        <td>
                            <div class="form-group">
                                <input name="shipname" class="form-control" value="@ViewBag.ShipName" />
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label>Điện thoại: </label>
                        </td>
                        <td>
                            <div class="form-group">
                                <input name="mobile" class="form-control" type="number" value="@ViewBag.ShipPhone" />
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label>Địa chỉ: </label>
                        </td>
                        <td>
                            <div class="form-group">
                                <input name="address" class="form-control" value="@ViewBag.ShipAddress" />
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label>Ngày mua: </label>
                        </td>
                        <td>
                            <div class="form-group">
                                <input name="ngaymua" class="form-control" value="@ViewBag.ngaymua" />
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label>Email: </label>
                        </td>
                        <td>
                            <div class="form-group">
                                <input name="email" class="form-control" value="@ViewBag.ShipEmail" />
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label>Tổng tiền: </label>
                        </td>
                        <td>
                            <div class="form-group">
                                <input name="tongtien" class="form-control" value="@ViewBag.tongtien" />
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><button type="submit" class="btn">Gửi đơn hàng</button></td>
                        <td></td>
                    </tr>
                </table>
            }
    </div>
</div>

