<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Book-Soul.com</title>
    <link rel="stylesheet" href="/Assets/Client/css/style.css" type="text/css" media="all" />
    @*<link rel="stylesheet" href="/Assets/Client/css/ie6.css" type="text/css" media="all" />*@
    <link rel="stylesheet" href="/Assets/Client/css/shopping-cart.css" type="text/css" media="all" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Assets/Client/css/style-detail.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <!-- JS -->


</head>
<body>

    <!-- Shell -->
    <div class="shell">

        <!-- Header -->
        <div id="header">

            @{
                var session = (UserLogin)Session[BookShop.Common.CommonConstants.USER_SESSION];
                if (session != null)
                {
                    <p class="right">
                        <ul>
                            <li>Xin chào:@session.Name</li>
                            <li>@Html.ActionLink("Thoát", "Logout", "User")</li>
                        </ul>
                    </p>
                }
                else
                {
                    Html.RenderAction("TopMenu", "Home");
                }
            }
            <div>
                <a href="/">
                    <img style="height:180px; width:1100px;" src="~/Assets/Client/images/logoweb.png" />
                </a>
            </div>


            <!-- Navigation -->
            <div id="navigation">
                <div class="search">

                    <form action="/tim-kiem" method="get">
                        <input type="text" id="txtsearch" name="search" placeholder="Gõ từ khoá" />
                        <button type="submit" value="" /><img src="/Assets/Client/images/ic_search.png" />
                    </form>
                </div>
                @RenderSection("slide", required: false)
                @{Html.RenderAction("MainMenu", "Home");}

                <!-- End Navigation -->
            </div>
            <!-- End Header -->
            <!-- Main -->
            <div id="main">
                <div id="content">
                    <!-- Content -->
                    @RenderBody()
                </div>
                <!-- End Content -->

                @{Html.RenderAction("HeaderCart", "Home");}

                <!-- Sidebar -->

                <div id="sidebar">



                    <!-- Categories -->
                    <div class="box categories">
                        <h2>Danh mục <span></span></h2>
                        <div class="box-content">
                            @{Html.RenderAction("BookCategory", "Home");}
                        </div>
                        <h2>Tác giả <span></span></h2>
                        <div class="box-content">
                            @{Html.RenderAction("ListAuthor", "Home");}
                        </div>
                        <h2>Nhà xuất bản <span></span></h2>
                        <div class="box-content">
                            @{Html.RenderAction("ListProducer", "Home");}
                        </div>
                    </div>


                    <!-- End Categories -->

                </div>
                <!-- End Sidebar -->

                <div class="cl">&nbsp;</div>
            </div>
            <!-- End Main -->
            <!-- Side Full -->
            @*<div class="side-full">

                    <!-- More Products -->
                    <!-- End More Products -->

                </div>*@
            <!-- End Side Full -->
            <!-- Footer -->

            <div class="footer">
                @{Html.RenderAction("Footer", "Home");}
            </div>

        </div>

    </div>

    @*<script type="text/javascript">
            $(document).ready(function () {
                $().UItoTop({ easingType: 'easeOutQuart' });
            });
        </script>*@
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("jsFooter", required: false)
    <!-- End Footer -->
    <!-- End Shell -->
    <script src="~/Assets/Client/js/controller/baseController.js"></script>
    <script src="/Assets/Client/js/jquery-1.8.2.js"></script>
    @*<script src="/Assets/Client/js/jquery-1.4.1.min.js" type="text/javascript"></script>*@
    @*<script src="~/Assets/Client/js/jquery-1.7.2.js"></script>*@
    <script src="/Assets/Client/js/jquery.jcarousel.pack.js"></script>
    <script src="/Assets/Client/js/jquery-func.js" type="text/javascript"></script>
    <script src="/Assets/Client/js/controller/cartController.js"></script>
    <!-- End JS -->


</body>
</html>